{% extends 'template.twig' %}
{% block title %}Admin{% endblock %}
{% block page %}admin{% endblock %}
{% block section %}admin{% endblock %}
{% block content %}
    <h1>Admin</h1>
    <ul>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/applications">Applications</a></li>
        <li><a href="/admin/groups">Groups</a></li>
    </ul>
{% endblock %}
