{% extends 'template.twig' %}
{% block title %}Deleting {{ invite.code }} // Admin{% endblock %}
{% block page %}admin invites delete{% endblock %}
{% block section %}admin{% endblock %}
{% block content %}
    <h1>Delete {{ invite.code }}?</h1>
    <p>There is no undo.</p>
    <form method="post" autocomplete="off">
        {{ csrf|raw }}
        <input type="submit" value="Delete it!" />
    </form>
{% endblock %}