{% extends 'template.twig' %}
{% block title %}Changing Password{% endblock %}
{% block page %}password user{% endblock %}
{% block section %}user{% endblock %}
{% block content %}
    <h1>
        Change
        {% if me.userID == user.userID %}
            your
        {% else %}
            {{ user.first_name }}'s
        {% endif %}
        password
    </h1>
    {% if error == 'oldpassword' %}
        <section class="error">
            Old password was incorrect.
        </section>
    {% elseif error == 'mismatch' %}
        <section class="error">
            Passwords did not match.
        </section>
    {% endif %}
    <form method="post">
        <section>
            {% if me.userID == user.userID %}
                <input type="password" name="old_password" id="password" placeholder="Old Password" required autocomplete="off" value="" />
            {% endif %}
            <input type="password" name="new_password" id="new_password" placeholder="New Password" required autocomplete="off" value="" />
            <input type="password" name="new_password_confirm" id="new_password_confirm" placeholder="New Password" required autocomplete="off" value="" />
        </section>
        <input type="submit" value="Change Password" />
    </form>

    <p><a href="/user/{{ user.username }}/edit">Cancel</a></p>
{% endblock %}
