{% extends 'template.twig' %}
{% block title %}New Group // Admin{% endblock %}
{% block page %}admin groups new{% endblock %}
{% block section %}admin{% endblock %}
{% block content %}
    <h1>Create New Group</h1>
    <p>Please use groups for things people are, and not things they've attended.</p>
    <form method="post" autocomplete="off">
        {{ csrf|raw }}
        <input type="text" name="name" id="name" placeholder="Name" required value="" autocomplete="off" />
        <textarea name="description" id="description" placeholder="Description" required></textarea>
        <input type="submit" value="Create" />
    </form>
{% endblock %}