{% extends 'template.twig' %}
{% block title %}About // Login{% endblock %}
{% block page %}login about{% endblock %}
{% block section %}login{% endblock %}
{% block content %}
    <h1>About Accounts</h1>
    <p>s5 is StudentRND's single identity system.</p>
    <p>If you've attended a CodeDay, are registered for our online community, or have a StudentRND email, you already
       have an s5 account. <a href="/login/forgot">Visit the forgot password page if you're unsure what your login
                                                   details are.</a></p>
    <p>You cannot elect to create an account on s5. You will be asked to create an account when registering for certain
       StudentRND programs or services.</p>
{% endblock %}
