<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style></style>
</head>
<body>
    <h1 style="text-align: center;">s5</h1>
    <div style="padding:12px 0;">
        {{ block('content') }}
    </div>
    <div style="font-size:9px;color: #888;">
        Sent by StudentRND. You are receiving this because you signed up for an account. If this is in error, please
        reply back to this email.
        <div>
            Our mailing address is:<br />
            StudentRND<br />
            25806 NE 4th PL<br />
            Sammamish, WA 98074<br />
        </div>
    </div>
</body>
</html>