{% extends 'template.twig' %}
{% block title %}Restore {{ user.first_name }} // Admin{% endblock %}
{% block page %}admin users restore{% endblock %}
{% block section %}admin{% endblock %}
{% block content %}
    <h1>Restore {{ user.username }}</h1>
    <p>This will enable the user's account. The user will immediately be able to login with the previously chosen
       password.</p>
    <form method="post">
        <input type="submit" value="Restore {{ user.username }}" />
    </form>
{% endblock %}