{% extends 'template.twig' %}
{% block page %}index{% endblock %}
{% block content %}
    <h1>s5 is StudentRND's single sign-on system.</h1>
    <p>s5 syncs your information between StudentRND events (such as CodeDay and Labs) and services (like our online
       community). Volunteers can use s5 to log into collaboration apps and email.</p>
    {% if not me %}
        <p>You can't register for an account directly, you'll register or be invited when you need it.</p>
    {% endif %}
    <p>If you have a question about s5, <a href="mailto:tylermenezes@studentrnd.org">contact us</a>.</p>
{% endblock %}
