{% extends 'template.twig' %}
{% block title %}Welcome to s5{% endblock %}
{% block page %}invite{% endblock %}
{% block section %}invite{% endblock %}
{% block content %}
    {% if error %}
        <section class="error">
            {{ error }}
        </section>
    {% endif %}

    <h1>Welcome to s5</h1>
    <p>This form will create an s5 account for you. s5 syncs your information between StudentRND events (such as CodeDay
       and Labs) and services (like our online community). Volunteers can use s5 to log into collaboration apps and
       email.</p>

    <section class="warning">
        This form is only for use by <strong>{{ invite.only_for_description }}</strong>.
    </section>

    <form method="post" autocomplete="off">
        <h2>Basic Details</h2>
        <section>
            <input type="text" name="first_name" id="first_name" placeholder="First Name" required value="" autocomplete="off" />
            <input type="text" name="last_name" id="last_name" placeholder="Last Name" required value="" autocomplete="off" />
            <input type="email" name="email" id="email" placeholder="Personal Email" required value="" autocomplete="off" />
        </section>

        <h2>Login Details</h2>
        <section>
            <input type="text" name="username" id="username" placeholder="Username" required value="" pattern="[a-zA-Z0-9_]{1,50}" autocomplete="off" />
            <input type="password" name="password" id="password" placeholder="Password" value="" autocomplete="off" />
            <input type="password" name="password_confirm" id="password_confirm" placeholder="Password (confirm)" value="" autocomplete="off" />
            <input type="submit" value="Engage!" />
        </section>
    </form>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        (function(){
            var user_create_form = {
                field_name_first: document.getElementById('first_name'),
                field_name_last: document.getElementById('last_name'),
                field_email: document.getElementById('email'),
                field_username: document.getElementById('username'),
                field_password: document.getElementById('password'),
                field_password_type: document.getElementById('password_type'),

                username_has_been_updated: false,

                suggestUsername: function()
                {
                    if (!this.username_has_been_updated) {
                        this.field_username.value =   this.field_name_first.value.toLowerCase()
                            + this.field_name_last.value.toLowerCase();

                        this.checkUsername();
                    }
                },

                checkUsername: function()
                {
                    if (this.field_username.value !== '') {
                        window['_util'].ajax('POST',
                            '/api/user/exists',
                            {username: this.field_username.value},
                            function(data) {

                                user_create_form.field_username.classList.remove('taken');
                                user_create_form.field_username.classList.remove('available');

                                if (data.exists) {
                                    user_create_form.field_username.classList.add('taken')
                                } else {
                                    user_create_form.field_username.classList.add('available');
                                }
                            }
                        );
                    } else {
                        user_create_form.field_username.classList.remove('taken');
                        user_create_form.field_username.classList.remove('available');
                    }
                },

                checkEmail: function()
                {
                    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if (re.test(this.field_email.value)) {
                        window['_util'].ajax('POST',
                            '/api/user/registered',
                            {email: this.field_email.value},
                            function(data) {

                                user_create_form.field_email.classList.remove('used');
                                user_create_form.field_email.classList.remove('unused');

                                if (data.exists) {
                                    user_create_form.field_email.classList.add('used')
                                } else {
                                    user_create_form.field_email.classList.add('unused');
                                }
                            }
                        );
                    } else {
                        user_create_form.field_email.classList.remove('used');
                        user_create_form.field_email.classList.remove('unused');
                    }
                },

                usernameOnChange: function()
                {
                    if (   this.field_username.value == ''
                        || this.field_username.value == (  this.field_name_first.value.toLowerCase()
                        + this.field_name_last.value.toLowerCase())) {
                        this.username_has_been_updated = false;
                        this.suggestUsername();
                    } else {
                        this.username_has_been_updated = true;
                    }

                    this.checkUsername();
                },

                setup: function()
                {
                    this.field_name_first.addEventListener('input', function(){user_create_form.suggestUsername()});
                    this.field_name_last.addEventListener('input', function(){user_create_form.suggestUsername()});
                    this.field_username.addEventListener('change', function(){user_create_form.usernameOnChange()});
                    this.field_username.addEventListener('input', function(){user_create_form.usernameOnChange()});
                    this.field_email.addEventListener('input', function(){user_create_form.checkEmail()});

                    setTimeout(function(){
                        user_create_form.field_username.value = '';
                        user_create_form.field_password.value = '';
                        user_create_form.username_has_been_updated = false;
                    }, 750);
                }
            };
            user_create_form.setup();
        })();
    </script>
{% endblock %}